@import "tailwindcss";

@theme {
  --font-mono: Fira Code VF, monospace;

  --color-red: rgb(var(--theme-red));
  --color-blue: rgb(var(--theme-blue));
  --color-orange: rgb(var(--theme-orange));

  --color-theme: rgb(var(--theme-color));
}

@layer base {
  :root {
    --theme-red: 244 67 54;
    --theme-blue: 33 150 243;
    --theme-orange: 255 152 0;
  }

  :root[data-theme="red"] {
    --theme-color: var(--theme-red);
  }

  :root[data-theme="blue"] {
    --theme-color: var(--theme-blue);
  }

  :root[data-theme="orange"] {
    --theme-color: var(--theme-orange);
  }

  :root:has(dialog[open]) {
    @apply overflow-hidden!;
  }

  :disabled {
    @apply cursor-default! opacity-50 outline-none!;
  }

  select {
    /* Trick to make selects same height as other input elements */
    @apply border-y border-neutral-800;
  }

  :is(input, select, textarea, a, button):focus-visible {
    /* Using :focus-visible is better than :focus, only showing outline on inputs/keyboard navigation */
    @apply z-10 outline-2 outline-neutral-300;
  }

  @media (hover: hover) {
    /*
      Using :hover on mobile devices results in a similar affect to :focus on desktop.
      (hover: hover) prevents that from happening.
    */
    :is(input, select, textarea, a, button):hover {
      @apply z-10 outline-2 outline-neutral-300;
    }
  }

  button:enabled,
  a {
    @apply transition-transform;
  }

  button:enabled:active {
    @apply translate-y-0.5;
  }

  a:active {
    @apply translate-y-0.5;
  }

  ::marker {
    @apply text-theme;
  }

  ::selection {
    @apply bg-theme text-white;
  }

  dialog:focus,
  dialog:hover {
    @apply outline-none;
  }

  * {
    scrollbar-width: thin;
  }
}
