@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --theme-red: 244 67 54;
    --theme-blue: 33 150 243;
    --theme-orange: 255 152 0;
    color-scheme: dark;
  }

  :root[data-theme="red"] {
    --theme-color: var(--theme-red);
  }

  :root[data-theme="blue"] {
    --theme-color: var(--theme-blue);
  }

  :root[data-theme="orange"] {
    --theme-color: var(--theme-orange);
  }

  :root:has(dialog[open]) {
    overflow: hidden;
  }

  :disabled {
    @apply !cursor-default opacity-50 !outline-none;
  }

  :is(input, select, textarea, a, button, .button, summary):focus,
  :is(input, select, textarea, a, button, .button, summary):hover {
    @apply z-10 outline outline-2 outline-neutral-300;
  }

  ::selection {
    @apply bg-theme text-white;
  }
}
